BOT_API=
CRYPTOBOT_TOKEN=
CRYPTO_WEBHOOK_SECRET=
PNMVPN_HMAC_SECRET=
FREEKASSA_TOKEN=
FREEKASSA_MERCHANT_ID=
FREEKASSA_SECRET_WORD_2=
YOOMONEY_API=
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_USER=redisadmin
REDIS_USER_PASSWORD=
PUBLIC_BASE_URL=https://bot.example.com
WEBHOOK_PORT=443
WEBHOOK_CERT_FILE=bot_cert.pem
WEBHOOK_KEY_FILE=bot_key.pem
CASE_NOTIFICATION_SCAN_SECONDS=60
